table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.jumbotron {
	background-color: #8dd8d3 !important;
  background-image: "static/img/img1.jpg";
  background-position: right;
}

.navbar {
	background-color: #8dd8d3 !important;
}

.navbar-nav > .active > a { 
    background-color: #599191 !important;
    color: #d7e6a3 !important;
}

.pdf {
  width: 820px;
  margin-left: auto ;
  margin-right: auto ;
}

.dbp {
  position: center;
  top:2px; 
  border-radius: 25px;
  text-align: justify;
  margin-left: 2.5em;
  padding: 25px 50px 50px 50px;
  border-width: 2px; 
  border-color: black; 
  border-style:solid;
}

.dbc{
  background-color:rgb(227, 241, 238); 
}
.dbi {
  border-radius: 25px;
  margin-left: 2.3em;
}     
